.contact {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e74c3c, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e74c3c, #000000);
    font-family: 'Gloria Hallelujah', cursive;
    padding: 50px 0;
}

#contact-me-title-text {
    text-align: center;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    color: darkred;
    max-width: 200px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: box-shadow 0.3s ease;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, wheat, white);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, wheat, white);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contact-me-title-text2 {
    text-align: center;
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    color: wheat;
    text-shadow: 0 0 7px black, 0 0 5px black;
}

.contact-footer {
    padding: 40px 0;
}

.contact-heading {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 7px black, 0 0 5px black;
}

.contact-info li {
    margin-bottom: 10px;
    color: wheat;
    align-items: center;
    list-style: none;
}

.social-icons li {
    display: block;
    text-align: center;
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: wheat;
    max-width: 100px;
}

.social-icons a svg {
    margin-right: 5px;
}

#formName,
#formEmail,
#formMessage {
    margin-bottom: 20px;
}

#formMessage textarea {
    resize: vertical;
}

button[type='submit'] {
    background-color: wheat;
    border: none;
    color: darkred;
    padding: 10px 20px;
}

button[type='submit']:hover {
    background-color: blue;
    color: darkred;
    cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .contact-heading {
        text-align: center;
    }

    .contact-info li,
    .social-icons a,
    .social-icons li {
        margin-bottom: 15px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .social-icons a svg {
        margin-right: 3px;
    }

    #formName,
    #formEmail,
    #formMessage {
        margin-bottom: 15px;
    }

    button[type='submit'] {
        padding: 8px 15px;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}

.copyright {
    color: wheat;
    text-shadow: 0 0 7px black, 0 0 5px yellow;
    text-align: start;
    margin-top: 6rem;
    text-align: center;
}
