.contact {
  border: none;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 60px 0;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#contact-me-title-text {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: black;
  max-width: 220px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: box-shadow 0.3s ease;
  background-color: white;
}

#contact-me-title-text2 {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  text-shadow: 0 0 7px black, 0 0 5px black;
}

.contact-footer {
  padding: 40px 0;
}

.contact-heading {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: orange;
  text-shadow: 0 0 7px black, 0 0 5px black;
}

.contact-info li {
  margin-bottom: 10px;
  color: white;
  align-items: center;
  list-style: none;
}

.social-icons li {
  display: block;
  text-align: center;
}

.social-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  max-width: 100px;
}

.social-icons a svg {
  margin-right: 5px;
}

#formName,
#formEmail,
#formMessage {
  margin-bottom: 20px;
}

#formMessage textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 20px;
}

button[type="submit"]:hover {
  background-color: #14213d;
  color: white;
  cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .contact-heading {
    text-align: center;
  }

  .contact-info li,
  .social-icons a,
  .social-icons li {
    margin-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .social-icons a svg {
    margin-right: 3px;
  }

  #formName,
  #formEmail,
  #formMessage {
    margin-bottom: 15px;
  }

  button[type="submit"] {
    padding: 8px 15px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.copyright {
  color: orange;
  text-shadow: 0 0 7px black, 0 0 5px black;
  text-align: start;
  margin-top: 6rem;
  text-align: center;
}
