/* Projects.css */
.projects {
  background-color: #14213d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Add space between the projects */
.mb-4 {
  margin-bottom: 2rem;
}

/* Set a max height for project card images */
.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

/* Style the project card title */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: orange;
  text-shadow: 0 0 7px black, 0 0 5px black;
}

#Technologies {
  font-weight: bold;
  color: orange;
  text-shadow: 0 0 7px black, 0 0 5px black;
}

/* Style the project card description */
.card-text {
  margin-bottom: 1rem;
  color: white;
  text-shadow: 0 0 7px black, 0 0 5px black;
}

/* Style the GitHub repo button */
#btn-projects {
  background-color: black;
  border-color: white;
}

#btn-projects:hover {
  background-color: #14213d;
  border-color: white;
}

#project-title {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: white;
  max-width: 200px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: box-shadow 0.3s ease;
  background-color: black;
}

.project-title2 {
  text-align: center;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  color: orange;
  text-shadow: 0 0 7px black, 0 0 5px black;
}

#project-card {
  border-radius: 50px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
